<div id="loginDialog" class="popupDialog">
</div>

<div id="interfacePane" class="threeColArea" name="">

	<div class="leftContainer">
		<div class="sideContentWrapper" id="savesPaneContainer">
			<div id="prevSavesPane" class="sideContentContainer">
			</div>
		</div>

		<div id="workPane" class="mainContentContainer">
			<div id="codeEditor">
			</div>
			<!-- ace and helper in here !-->


			<div class="bottomBar">
				<div class="centeringDiv">
					<a id="saveButton" onclick="$('#saveForm').submit()"  class="mainControlButton">Save</a>
					<a id="runButton" onclick="runUserAlgorithm(null, null)" class="mainControlButton">Run</a>


				</div>
			</div>
			<div style="display: none" class="saveButtons">
				<button onclick="runUserAlgorithm(null, null)">Run</button>
				<% if @signed_in %>
					<div class="saveButtonContainer">
						<%= form_for @algorithm, html: {id: 'saveForm', class: 'hidden'}, remote: true, url: algorithm_save_path do |f| %>
							<%= f.text_area :code, :class => 'hidden', :id => 'save_form_code' %>
							<%= f.hidden_field :id, :id => 'save_form_id' %>
							<% f.submit :Save %>
						<% end %>
					</div>
				<% end %>

				<button onclick="<%= if @signed_in then 'saveAsDialog()' else 'notLoggedInDialog()' end %>">Save As</button>

				<div id="saveAsDialog" class="popupDialog" style="display: none">
					<%= form_for @new_algorithm, html: {id: 'saveAsForm'}, remote: true, url: algorithm_saveas_path do |f| %>
						<%= f.text_area :code, :class => 'hidden', :id => 'saveas_form_code' %>
						<%= f.label 'Name:' %>
						<%= f.text_field :save_name, :id => 'saveas_form_name' %>
						<%= f.submit :Save %>
					<% end %>
				</div>

				<div id="notLoggedInDialog" style="display: none">
					<p>You need to <a href="/login">login</a> to be able to save!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="rightContainer">
		<div id="outputPane" class="sideContentContainer">
			<div class="controlsBox">
				<div class="dataSelectorsForm">
					<%= form_tag req_data_path, method: 'get', remote: true do %>
						<%= label_tag(:q, "Season:") %>
						<%= select_tag(:season, options_for_select(@availableYears)) %>
						<%= label_tag(:q, "Week:") %>
						<%= select_tag(:week, options_for_select(@availableWeeks)) %>
						<% #submit_tag :Go %>
					<% end %>
				</div>
				<div id="loadWheelDiv" class="loadWheelDiv">
				</div>

				<div class="clearingDiv">
				</div>
			</div>
			<div id="rankPane">
				<iframe src="/ranks/codeFrame" id="resultsPane">
				</iframe>
			</div>
		</div>
	</div>

</div>
<script type="application/javascript">
	var savesArr = <%= if @saveArray then @saveArray.html_safe else [] end %>;
	for(var i = 0; i < savesArr.length; i++){
		appendSaveOpt(savesArr[i]);
	}
	checkForSaves(false);
	$(window).load(function(){
		numWeeksMap = <%= @maxWeeks.to_json.html_safe %>;
		loadPage();
		loadSave(<%= if @curAlg then @curAlg.html_safe else 'null' end %>);
	});

</script>
