<!DOCTYPE html>
<html>
<head>
  <title>RankV2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="banner">
  <a href="/" class="bannerText">CFB Ranker</a>

  <div style="float: right;" class="loginControls">
    <% if user_signed_in? %>
      <%= link_to('', destroy_user_session_path, :method => :delete, :class => 'icon-log-out bannerIcon') %>
    <% else %>
      <%= link_to('', new_user_session_path, {:class => 'icon-log-in bannerIcon'}) %>
    <% end %>
  </div>

  <a class="bannerIcon icon-social-github bannerIcon" href="https://github.com/doneel/cfbranker"></a>
  <a id="helpIcon" style="display:none;" class="bannerIcon icon-help-circled bannerIcon"></a>
  <a id="infoIcon" class="bannerIcon icon-information-circled bannerIcon"></a>
</div>

<%= yield %>

</body>
</html>
